nav#block-wxt-bootstrap-main-menu {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 9999; }

nav#block-wxt-bootstrap-main-menu a.menutoggle {
  background: #335075 url(/core/misc/icons/ffffff/hamburger.svg) 50% 50% no-repeat;
  background-size: 55% auto;
  position: absolute;
  top: 0;
  left: 0;
  font: normal normal normal 14px/1 FontAwesome;
  color: #335075;
  padding: 23px;
  z-index: 99; }

nav#block-wxt-bootstrap-main-menu ul {
  display: none;
  width: 200px;
  margin-top: 47px;
  background: #fff;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.4); }

nav#block-wxt-bootstrap-main-menu ul li {
  width: 100%; }

nav#block-wxt-bootstrap-main-menu ul li a {
  display: block;
  overflow: hidden;
  width: 100%; }

.topics-view-row {
  overflow: hidden;
  margin-bottom: 30px; }

.topics-view-row .content-wrapper {
  position: relative;
  background: #ccc;
  color: #333;
  width: 100%;
  height: 262px;
  border-top: 4px solid red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.topics-view-row .views-field-title {
  position: absolute;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 20px);
  vertical-align: middle;
  height: calc(100% - 20px);
  line-height: 252px;
  top: 0;
  text-align: center;
  margin: 10px;
  padding: 0 20px;
  box-sizing: border-box; }

.topics-view-row .views-field-title a {
  padding: 15px;
  display: block;
  width: 100%; }

.topics-view-row .views-field-title h2 {
  margin: 0;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1.2em; }

.topics-view-row .content-inner-wrapper {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 30px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 30px 20px 10px 20px;
  text-align: left;
  opacity: 0; }

.topics-view-row .content-inner-wrapper .topic-link {
  background: #fff;
  color: #335075 !important;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none; }

.topics-view-row .content-inner-wrapper .views-field-view-node, .topics-view-row .content-inner-wrapper .views-field-nothing {
  margin: 5px;
  display: inline-block; }

.topics-view-row .content-inner-wrapper .topic-tweet {
  background: #1DA1F2;
  color: #fff !important;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none; }

.topics-view-row:hover .content-wrapper {
  background: #bbb;
  border-top: 8px solid red; }

.topics-view-row:hover .content-inner-wrapper {
  opacity: 1;
  top: 0; }

.topics-view-row:hover .views-field-title {
  opacity: 0;
  top: 30px; }

.addnewtopic .content-wrapper {
  position: relative;
  background: #ccc;
  color: #fff;
  width: 100%;
  height: 262px;
  border-top: 4px solid red; }

.addnewtopic .content-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none; }

.addnewtopic .content-wrapper a span.plus {
  font-size: 80px;
  display: block;
  margin-top: 15%; }

.addnewtopic .content-wrapper h2 {
  margin: 0;
  color: #333;
  display: block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1.2em; }

.path-frontpage #search {
  width: 500px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1.3em;
  border: 1px solid #335075;
  border-radius: 5px; }

.topic-header, .layout-33-header {
  background: url(../images/pexels-photo-508096.jpeg) no-repeat center center;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }

.topic-header .field--name-field-featured-image, .layout-33-header .field--name-field-featured-image {
  display: none; }

.topic-header .col-md-12:after, .layout-33-header .col-md-12:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(74, 74, 74, 0.85);
  z-index: 9;
  content: ''; }

.topic-header .col-md-12, .layout-33-header .col-md-12 {
  position: relative;
  z-index: 99; }

.topic-header .block-region-header, .layout-33-header .block-region-header {
  z-index: 999;
  position: relative; }

.topic-header h1, .layout-33-header h1 {
  margin: 0;
  padding: 40px 0;
  color: #fff;
  border: none; }

.topic-header input, .layout-33-header input {
  margin: 0 10em; }

.page-node-type-topic-of-engagement .topic-header {
  background: #666; }

.page-node-type-topic-of-engagement .topic-header h1 {
  padding: 150px 0; }

/*# sourceMappingURL=init-min.css.map */