// Color global overrides
$primary-color: #FFCC33;
$secondary-color: #08415C;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #232323;
$light-grey: #F8F8F8;
$light-grey2: #E1E4E7;
$medium-grey: #E1E4E7;
$bg-grey: #FCFCFC;
$blue2: #49a5d4;
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #3f729b;
$blue: #335075;
$tweet: #1DA1F2;
